<html><head>
 <title>HTMX pinboard</title>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
<script src="https://unpkg.com/mustache@latest"></script>
</head>
  <body>

<div hx-ext="client-side-templates">
<p>HTMX loads content of text files inside GitHub folder.</p>
<div>
<button class="JSON_One"
        hx-get="https://api.github.com/repos/r0d3r1ck0rd0n3z/HTMX-pinboard/contents/text"
        hx-swap="innerHTML" 
        hx-target="#contentTarget" 
        mustache-array-template="getMyContent" 
        > Click to load text files
        </button>

 <a href="" id="newFiles" target="_blank"><button>Create a new text file</button></a>
<ul id="contentTarget">Waiting for input...</ul>
</div>

 
<template id="getMyContent">
    
{{#data}}
<div class="contentItem">
 <span hx-swap="innerHTML"
           hx-get="https://raw.githubusercontent.com/r0d3r1ck0rd0n3z/HTMX-pinboard/master/{{path}}"     
           hx-trigger="load delay:1s"></span>
</div>
{{/data}}

</template>

 <br><hr><br>
</div>

<br><br><br><br>

   <iframe src="https://github.com/r0d3r1ck0rd0n3z/HTMX-pinboard/tree/master/text"></iframe>

<!-- HELPER SCRIPTS -->   
<script>
// Remove HTMX headers
document.addEventListener('htmx:configRequest', (evt) => {
    evt.detail.headers = [];
});
    
// Get the current date and time
const now = new Date();
const year = now.getFullYear();
const month = String(now.getMonth() + 1).padStart(2, '0'); // Month is 0-indexed
const day = String(now.getDate()).padStart(2, '0');
const hours = String(now.getHours()).padStart(2, '0');
const minutes = String(now.getMinutes()).padStart(2, '0');
const seconds = String(now.getSeconds()).padStart(2, '0');

// Combine the components into the desired format
const timestamp = `${year}${month}${day}${hours}${minutes}${seconds}`;
let a = `https://github.com/r0d3r1ck0rd0n3z/HTMX-pinboard/new/master/text?filename=${timestamp}.txt`
document.getElementById('newFiles').href = a;
    
   </script>
  
</body></html>
