<html><head>
 <title>HTMX pinboard</title>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
<script src="https://unpkg.com/mustache@latest"></script>
<link type="image/png" sizes="16x16" rel="icon" href="https://img.icons8.com/pieces/64/experimental-pin-pieces.png">
<link rel="stylesheet" href="styles.css"> 
</head>
  <body>

<div hx-ext="client-side-templates">
<p>HTMX loads content of text files saved inside the GitHub folder <a href="https://github.com/r0d3r1ck0rd0n3z/HTMX-pinboard/tree/master/text" target="_blank">here</a>.</p>
 
<div>
<button class="JSON_One"
        hx-get="https://api.github.com/repos/r0d3r1ck0rd0n3z/HTMX-pinboard/contents/text"
        hx-swap="innerHTML" 
        hx-target="#contentTarget" 
        mustache-array-template="getMyContent" 
        hx-indicator="#indicator"
        > Click to load text files
        </button>

 <button onclick="newFile()">Create a new text file</button>
 
 <br><hr><br> 
   <span id="indicator" class="custom-loader htmx-indicator"> &nbsp;
  </span>
 
 <div id="contentTarget" hx-boost="true">

 </div>
</div>

 
<template id="getMyContent">
    
{{#data}}
   <div class="contentItem fade-me-in">
     <span hx-get="{{download_url}}" 
           hx-swap="innerHTML" hx-indicator="#indicator" hx-trigger="load delay:5s" id="{{name}}">
     </span>
    <div class="editLink"><a href="{{html_url}}" target="_blank">Edit</a></div>
   </div>
{{/data}}

</template>


</div>



<!-- HELPER SCRIPTS -->   
<script>
// Remove HTMX headers
document.addEventListener('htmx:configRequest', (evt) => {
    evt.detail.headers = [];
});

// Catch duplicated items
let fileList = [];
let fileTick = 0;
document.addEventListener('htmx:beforeOnLoad', (evt) => {
    try{ 
     let uID = evt.detail.target.getAttribute('id');  
     
     if( fileTick === 0 ) {
      fileList.push(uID); 
      ++fileTick; 
      console.log('new!');
      return
     };
     
     if( fileList.includes(uID) ) { 
      console.log('old');
      return 
     };
     
     fileList.push(uID)
     console.log(fileList);
     
    } catch { console.log('error') };
});
 
function newFile() {
// Get the current date and time
const now = new Date();
const year = now.getFullYear();
const month = String(now.getMonth() + 1).padStart(2, '0'); // Month is 0-indexed
const day = String(now.getDate()).padStart(2, '0');
const hours = String(now.getHours()).padStart(2, '0');
const minutes = String(now.getMinutes()).padStart(2, '0');
const seconds = String(now.getSeconds()).padStart(2, '0');
// Combine the components into the desired format
const timestamp = `${year}${month}${day}${hours}${minutes}${seconds}`;

let a = `https://github.com/r0d3r1ck0rd0n3z/HTMX-pinboard/new/master/text?filename=${timestamp}.txt`
let params = `location=no,toolbar=no,menubar=no,width=600,height=700,left=100,top=100`;
window.open(a, 'HTMXpinboard', params);

};

    
   </script>
  
</body></html>
