#contentTarget {
    display: block;
    flex-flow: wrap;
    column-count: 4;
}

.contentItem {
    border: solid 1px gray;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border-radius: 5px;
    width: 100%;
    min-height: 10px;
    break-inside: avoid;
    box-sizing: border-box;
    transition: height 3s;
}

#fade-me-in.htmx-swapping {
  opacity: 0;
}
#fade-me-in {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.editLink {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 10px;
}

/* 
From: https://www.cssportal.com/css-loader-generator/
*/

.custom-loader {
  width:50px;
  height:24px;
  background: 
    radial-gradient(circle closest-side,#766DF4 90%,#0000) 0%   50%,
    radial-gradient(circle closest-side,#766DF4 90%,#0000) 50%  50%,
    radial-gradient(circle closest-side,#766DF4 90%,#0000) 100% 50%;
  background-size:calc(100%/3) 12px;
  background-repeat: no-repeat;
  animation:d3 1s infinite linear;
}
@keyframes d3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

.indicator {
  cursor: pointer;
}
